::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.bgbody{
    background-image: url("../images/UI/OldPageBG.jpg");
    background-size: cover;
}

.mainheader{
    background-image: url("../images/UI/banner.png");
    background-size: cover;
    border-bottom: 5px solid #e99f30c4;
    background-color: #f0f8ff12;
    color: white;
}

.main-image-border{
    /* --tw-gradient-from: rgba(216, 203, 20, 0.473) var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to); */
}

.textwhile{
    color: white;
}

@keyframes self-rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes self-rotation-i {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}



.btn-grad {background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #492514;
   border-radius: 15px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


 
 .btn-grad360 {background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%)}
 .btn-grad360 {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #492514;
    border-radius: 15px;
    display: block;
  }

  .btn-grad360:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
  .info-content{
    margin: 120px 5% 5% 5%;
    overflow: scroll;
  }

  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}
.ch1 {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 15px;
}

.ch2 {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.ch3 {
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}
ul {
    margin: 10px 0;
    padding-left: 20px;
}

.close-button {
    position: fixed;
    top: 6px;
    left: 6px;
    width: 40px;
    height: 40px;
    background-color: #ff5c5c;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .close-button:hover {
    background-color: #ff1c1c; /* Darker color on hover */
  }
  
  .annotation{
    background-color: #888888;
    position: absolute;
    border-radius: 10px;
    padding: 10px;
    left: 60px;
    top: 10px;
    background-color: #595959;
    max-width: 50%;
    max-height: 25%;
    color: white;
    word-wrap: break-word;
    overflow: auto;
  }
  /* This keeps child nodes hidden while the element loads */
  :not(:defined) > * {
    display: none;
  }

  .fullmap{
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 1000 !important;
  }

  .fullmapDiv{
    position: fixed;
    top: 0px;
    z-index: 100;
  }

  