#homePage {
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/images/UI/OldPageBG.jpg");
  /* Replace with your image URL */
  background-size: cover;
  /* Cover the entire div */
  background-position: center;
  /* Center the image */
  display: flex;
  /* Use flexbox to center the dialog */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  background-color: rgb(26, 26, 26);
}

.collection {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
  width: 50%;
}
.collection img {
  border-radius: 50%;
  border: 3px solid white;
  margin-inline: 10px;
  width: 70px;
  height: 70px;
}

.mainmenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
.mainmenu a {
  margin: 10px;
  color: rgb(26, 26, 26);
}

.homeCover {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: auto;
  pointer-events: none;
}

.imgMap {
  border-radius: 15px;
}

#dialog {
  background-color: rgb(49 49 49 / 84%);
  border: 0px solid #ccc;
  border-radius: 20px;
  padding: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 200px;
  max-width: 400px;
  text-align: center;
  transform: translate(0px, 90px);
  color: white;
  min-width: 200px;
  max-height: 300px;
  min-height: 100px;
}

.buttonboicanh {
  bottom: 21%;
  padding: 1vh;
  width: 390px;
  font-size: 15px;
  text-align: center;
  border-color: #b4870c94;
}

.buttongioithieu {
  bottom: 14%;
  padding: 1vh;
  width: 390px;
  font-size: 15px;
  text-align: center;
  border-color: #b4870c94;
}

.buttonlecung {
  bottom: 7%;
  padding: 1vh;
  font-size: 15px;
  width: 390px;
  text-align: center;
  border-color: #b4870c94;
}

.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(65, 65, 65, 0.836);
  /* Using the variable color directly */
  border-radius: 5rem;
  border-width: 30px;
  z-index: -2;
}

.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #a78e00;
  /* Darkened color (15% darker than #0cf) */
  transition: all 0.3s;
  border-radius: 5rem;
  z-index: -1;
}

.button:hover {
  color: #fff;
}

.button:hover:before {
  width: 100%;
}

/* Optional reset for presentation */
* {
  font-family: Arial;
  text-decoration: none;
  font-size: 20px;
}

.dinhvinhhoi {
  padding: 10px 0px 10px 0px;
  width: 80%;
}

.buttonDiv {
  /* width: 100%;
  height: 100%; */
  position: fixed;
  left: 3%;
  top: 3%;
  z-index: 1;
}

.icon {
  width: 40px;
  height: 40px;
  position: fixed;
  left: 3%;
  top: 3%;
  cursor: pointer;
  /* position: relative; */
  display: inline-block;
  border-radius: 30px;
  /* $icon-size*$border-radius */
  overflow: hidden;
  border-style: solid;
  border-width: 2px;
  border-color: #85f385;
}

.icon:hover {
  scale: 1.1;
  border-color: #85f385;
  box-shadow: 0 0 10px #01ca98;
}

@import url("https://fonts.googleapis.com/css?family=Noto+Sans");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  margin-bottom: 13px;
}

.btn {
  display: -webkit-box;
  position: relative;
  width: 60px;
  height: 60px;
  background: linear-gradient(to bottom, hotpink 0%, tomato 100%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  line-height: 100px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.btnGGMap {
  background: linear-gradient(
    to bottom,
    rgb(0, 153, 107) 0%,
    rgb(0, 169, 199) 100%
  );
}

.btnInfo {
  background: linear-gradient(
    to bottom,
    rgb(0, 66, 209) 0%,
    rgb(35, 147, 182) 100%
  );
}

.btnmute {
  background: linear-gradient(
    to bottom,
    rgb(121, 4, 218) 0%,
    rgb(76, 0, 255) 100%
  );
}

.btnunmute {
  background: linear-gradient(
    to bottom,
    rgb(6, 72, 255) 0%,
    rgb(98, 0, 255) 100%
  );
}

.btn::before {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: black;
  opacity: 0;
  content: "";
  animation: pulse 1s infinite;
}

.btn:hover::before {
  animation: none;
  opacity: 0.4;
  transform: scale(1.3);
}

.btn.is-clicked {
  background: linear-gradient(to bottom, gray 0%, dimgray 100%);
}

.btn.is-clicked:before {
  animation: blastOut 1s;
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.4;
  }

  to {
    transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes blastOut {
  from {
    transform: scale(0.9);
    opacity: 0.4;
  }

  to {
    transform: scale(10);
    opacity: 0;
  }
}

/* language button */
.languageDiv {
  position: fixed;
  left: 2%;
  bottom: 0%;
  display: flex;
}

.buttonl {
  display: block;
  width: 160px;
  height: 50px;
  /* text-align: center; */
  border-radius: 3px;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  background: #8f8c65;
  color: white;
  font-size: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin: 10px;
  text-align: center;
  padding-top: 12px;
  cursor: pointer;
}

.buttonlEng {
  /* padding-left: 17px; */
}

.buttonlActive {
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
}
